@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    #__next {
        @apply relative min-h-full flex flex-col flex-grow;
    }
}

@font-face {
    font-family: "JosefinSans";
    font-style: normal;
    src: local(''), url("../public/fonts/JosefinSans-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "JosefinSans";
    font-style: italic;
    src: local(''), url("../public/fonts/JosefinSans-Italic-VariableFont_wght.ttf") format("truetype");
}
